extends ../../index
block content
	- var docId = doc['@metadata']['@id'];
	- var docIdNumber = doc['@metadata']['@id'].replace('Licenzia/','');
	div.container
		div.panel.panel-primary
			div.panel-heading
				table.stretch
					tbody
						tr
							td(style='width:85%;')
								h3.text-center.txt-capital(style='margin-left:50px;')='ლიცენზია'+' / '+docIdNumber
							td(style='width:15%;')
								if atvisebisGegmaCarsadgenia
									a.btn.btn-default.btn-block(href=docIdNumber + '/atvisebisGegma')
										span.txt-capital ათვისების გეგმის წარდგენა
			div.panel-body
				div.row
					div.col-md-4
						include ../../common/licenziebi/detail/licenziantisMonacemebi
						include ../../common/licenziebi/detail/carmoqmnisSafudzveli
					div.col-md-4
						include ../../common/licenziebi/detail/carmomadgeneliPiri
						include ../../common/licenziebi/detail/damatebitiInformacia
					div.col-md-4
						include ../../common/licenziebi/detail/statusi
						include ../../common/licenziebi/detail/informaciaLicenziisShesaxeb
						include ../../common/licenziebi/detail/gauqmebisSafudzveli
				div.row
					div.col-md-12
						include ../../common/licenziebi/detail/informaciaObiektisShesaxeb