extends ../index.jade
include ../mixins/form-controls.jade

block content
	div(ng-controller='axaliCtrl')
		script.
				var axaliCtrl = function($scope, $modal, $log){
					$scope.open = function () {
							var modalInstance = $modal.open({
									templateUrl: '/templates/licenziebi/carmomadgeneli.jade',
									controller: modalInstanceCtrl
							});
							modalInstance
								.result
								.then(function (selectedItem) {
									$scope.selected = selectedItem;
								}
								, function () {
									$log.info('Modal dismissed at: ' + new Date());
							});
					};
				};
				var modalInstanceCtrl = function ($scope, $modalInstance) {
						$scope.ok = function () {
							$modalInstance.close();
						};
						$scope.cancel = function () {
							$modalInstance.dismiss('cancel');
						};
				};
		.jumbotron.jumbotron-sm
			.container
				.row
					.col-sm-12.col-lg-12
						h2.txt-capital ახალი ლიცენზია
		.container
			.row
				.well
					.row
						form.form-horizontal(method='POST',enctype='multipart/form-data')
							div.col-md-12
								div.panel.panel-default
									div.panel-heading
										span ლიცენზიანტის მონაცემები
									div.panel-body
										+textbox('pid','საიდენთიფიკაციო კოდი','ან ფიზიკური პირის პირადი ნომერი',true)
										+textbox('dasaxeleba','დასახელება','ან ფიზიკური პირის სახელი, გვარი',true)
										+textbox('fakMisamarti','ფაქტიური მისამართი','მაგ: წერეთლის #144',true)
										+textbox('iurMisamarti','იურიდიული მისამართი','მაგ: წერეთლის #144',true)
										+specInput('phone','phone','phone','ტელეფონი','მაგ: 599123456',true)
										+specInput('email','email','envelope','e-ფოსტა','მაგ: someone@mail.com',true)
								a.btn.btn-default(ng-click='open()') წარმომადგენელი პირი
								hr
								div.panel.panel-default
									div.panel-heading
										span ინფორმაცია ობიექტის შესახებ
									div.panel-body
										+textbox('dasaxlebuliPunkti','დასახლებული პუნქტი','',true)
										+textbox('raioni','რაიონი','',true)
										+typeahead('regioni',regionebi,'რეგიონი')
										+typeahead('municipaliteti',municipalitetebi,'მუნიციპალიტეტი')
										+typeahead('resursi',resursebi,'რესურსის დასახელება')
										+typeahead('uom',uoms,'საზომი ერთეული')
										+numberbox('fartobi','ფართობი','',true)
										+combobox('fartobiUom',fartobiUoms,'ფართობის საზომი ერთეული',true)
										+datepicker('licenziisGacemisTarigi','ლიცენზიის გაცემის თარიღი',true)
										+bigtext('licenziisCarmoqmnisSafudzveli',5,10,'ლიცენზიის წარმოქმნის საფუძველი')
										+bigtext('salicenzioPirobebi',5,10,'სალიცენზიო პირობები')
										+numberbox('moqmedebisVada','მოქმედების ვადა','წლებში (მაგ: 5)',true)
										+numberbox('raodenoba','რაოდენობა','',true)
										+bigtext('damatebitiInfo',5,10,'დამატებითი ინფორმაცია')
										+textbox('licenziisNomeri','ლიცენზიის N','',true)
										+textbox('brdzanebisNomeri','ბრძანების N','',true)
										+datepicker('brdzanebisTarigi','ბრძანების თარიღი',true)
										+combobox('licenziisStatusi',statusebi,'ლიცენზიის სტატუსი',true)
										+textbox('brdzanebisNomeri','ბრძანების N','',true)
										+fileUpload('ruqa','image/*',true,'რუქა',true)
										+fileUpload('geoPaketi','image/*',true,'გეოსაინფორმაციო პაკეტი',true)
										+fileUpload('atvisebisGegma','image/*',true,'ათვისების გეგმა',true)
										+textbox('gamokenebisSfero','გამოყენების სფერო','',true)
										+textbox('resursisDasaxeleba','რესურსის დასახელება','',true)
										+numberbox('jamuriMopoveba','ჯამური მოპოვება','',true)
										+numberbox('abc1','a_b_c1','',true)
										+numberbox('c2','c2','',true)
										+numberbox('p','p','',true)
							div.col-md-12
								button.btn.btn-success.pull-right(type='submit') რეგისტრაცია