include ../mixins/form-controls

div.modal-header
	h3.modal-title.txt-capital წარმომადგენელი პირი
div.modal-body
	form.form-horizontal
		+textbox('carmomadgeneli.pid','პირადი ნომერი','11 სიმბოლო',true)
		+textbox('carmomadgeneli.saxeli','სახელი','',true)
		+textbox('carmomadgeneli.gvari','გვარი','',true)
		+specInput('carmomadgeneli.tel','phone','phone','ტელეფონი','მაგ: 599123456',true)
		+specInput('carmomadgeneli.mail','email','envelope','e-ფოსტა','მაგ: someone@mail.com',false)
div.modal-footer
	button.btn.btn-primary(ng-click='ok()') OK
	button.btn.btn-warning(ng-click='cancel()') Cancel