extends ../index
block content
	div.container
		div.row
			if suggestions.length>0
				div.panel.panel-info
					div.panel-heading
						p მითითებული საკვანძო სიტყვებით არცერთი ლიცენზია არ მოიძებნა.
						p სხვა ვარიანტებია
					div.panel-body
						ul.list-unstyled
							each sugg in suggestions
								li
									a.suggestion(href=sugg.link)= sugg.displayText
			if suggestions.length==0
				div.panel.panel-danger
					div.panel-heading
						p არცერთი ლიცენზია არ მოიძებნა.
						a(href=baseUrl) სიაში დაბრუნება