div.panel.panel-info
	div.panel-heading
		span.panel-title წარმოქმნის საფუძველი
	div.panel-body
		h4= doc.carmoqmnisSafudzveli.title
	table.table.table-bordered
		each val,key in doc.carmoqmnisSafudzveli
			if key!='title' && key!='name'
				if key=='mibmuliFailebi'
					each f in val
						div
							a(href='/uploads/'+f.id)= f.name.substring(0,8) + '..'
				else
					tr
						th.txt-capital= fieldLabels[key]
						td= val