extends layout

block body
	div.navbar.navbar-default.navbar-fixed-top
		div.navbar-header
			a.navbar-brand(rel='home',href='/')
				img(src='/img/moelogo.png',style='width:30px;height:30px;margin-top: -7px;')
		ul.nav.navbar-nav.txt-capital
			li
				a(href='/')
					i.glyphicon.glyphicon-home
					span= ' Home'
			each menuItem in user.menu
				if menuItem.children.length > 0
					li.dropdown
						a.dropdown-toggle(href)
							span= menuItem.heading
							b.caret
						ul.dropdown-menu
							each menuItemChild in menuItem.children
								li
									a(href=menuItemChild.url)= menuItemChild.heading
				else
					li
						a(href=menuItem.url)= menuItem.heading
		form.navbar-form.pull-right(action='/logout')
			button.btn.btn-default.txt-capital(type='submit') გასვლა
	div
		block content