extends layout

block body
	div.navbar.navbar-default.navbar-fixed-top
		div.navbar-header
			a.navbar-brand(rel='home',href='/')
				img(src='/img/moelogo.png',style='width:30px;height:30px;margin-top: -7px;')
		ul.nav.navbar-nav.txt-capital
			li
				a(href='/')
					i.glyphicon.glyphicon-home
					|  Home
			li.dropdown
				a.dropdown-toggle(href)
					| ლიცენზიები
					b.caret
				ul.dropdown-menu
					li
						a(href='/licenziebi') სია
					li
						a(href='/licenziebi/axali') ახალი
		form.navbar-form.pull-right
			button.btn.btn-default(type='submit') გასვლა
	div
		block content