doctype html
html
	head
		title= title
		script(src='/resources/jquery/dist/jquery.min.js')
		script(src='/resources/bootstrap/dist/js/bootstrap.min.js')
		link(rel='stylesheet', href='/resources/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content