doctype html
html(ng-app='garemoApp')
	head
		title NEA
		meta(charset="utf-8")
		script(src='/socket.io/socket.io.js')
		script(src='/resources/jquery/dist/jquery.min.js')
		script(src='/resources/tinymce/tinymce.min.js')
		script(src='/resources/angular/angular.min.js')
		script(src='/resources/angular-ui-tinymce/src/tinymce.js')
		script(src='/resources/angular-bootstrap/ui-bootstrap.min.js')
		script(src='/resources/angular-bootstrap/ui-bootstrap-tpls.min.js')
		script(src='/resources/nsPopover/src/nsPopover.js')
		script(src='/javascripts/client/appBootstrapper.js')
		script(src='/javascripts/client/directives.js')
		link(rel='stylesheet', href='/resources/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/popover.css')
	body
		div.wrapper
			block body
			div.footer-push
		footer
			h4.txt-capital © გარემოს ეროვნული სააგენტო