link(rel='stylesheet', href='/resources/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/site.css')
div.container
	div.row
		div.col-md-4.col-md-offset-4
			div.panel.panel-default
				div.panel-heading
					h3.panel-title.text-muted.txt-capital გაიარეთ ავტორიზაცია
				div.panel-body
					form(accept-charset='UTF-8',role='form',method='POST')
						div.form-group
							input.form-control(placeholder="მომხმარებელი",name="username",type="text",autofocus,required)
						div.form-group
							input.form-control(placeholder="პაროლი",name="password",type="password",value="",required)
						div.checkbox
							label
								input(name="rememberme",type="checkbox")
								span.txt-capital დამიმახსოვრე
						input.btn.btn-lg.btn-primary.btn-block.txt-capital(type="submit",value="შესვლა")
			if message.length > 0
				div.alert.alert-danger #{message}