@font-face {
    font-family: alkSanet;
    src: url('../fonts/alk-sanet.ttf');
}
.txt-capital{
    font-family: alkSanet,serif;
    font-weight: bold;
}
body {
    padding-top:55px;
}
tr.grid-item{
    cursor:pointer;
}
a.suggestion{
    cursor:pointer;
}
/*-----*/
.jumbotron {
    background: #3BAD58;
    color: #FFF;
    border-radius: 0px;
}
.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
}
.jumbotron small {
    color: #FFF;
}
.h1 small {
    font-size: 18px;
}