mixin koordinatebisGridi()
	label.control-label.txt-capital კოორდინატები
	table.table.table-hover.table-bordered.table-condensed
		thead
			tr.txt-capital
				th(width='48%') X
				th(width='48%') Y
				th(width='4%')
		tbody
			tr(ng-repeat='cxriliItem in geoPaketi.obiektisKoordinatebi.cxrili')
				td
					+numbercell('cxriliItem.x',true)
				td
					+numbercell('cxriliItem.y',true)
				td
					a.btn.btn-sm.btn-danger.pull-right(ng-click='removeKoordinati($index)') X
			tr
				td(colspan='2')
				td
					a.btn.btn-sm.btn-success.pull-right(ng-click='addKoordinati()') +