extends ../../index
block content
	- var metadata = doc['@metadata'];
	- var docIdNumber = metadata['@id'].replace('Licenzia/','');
	div.container
		div.panel.panel-primary
			div.panel-heading
				h3.text-center.txt-capital(style='margin-left:50px;')='ლიცენზია'+' / '+docIdNumber
			div.panel-body
				div.row
					div.col-md-4
						include ../../common/licenziebi/detail/licenziantisMonacemebi
						include ../../common/licenziebi/detail/carmoqmnisSafudzveli
					div.col-md-4
						include ../../common/licenziebi/detail/carmomadgeneliPiri
						include ../../common/licenziebi/detail/damatebitiInformacia
						include ../../common/licenziebi/detail/gauqmebisSafudzveli
					div.col-md-4
						include ../../common/licenziebi/detail/statusi
						include ../../common/licenziebi/detail/informaciaLicenziisShesaxeb
						include ../../common/licenziebi/detail/metadata
				div.row
					div.col-md-12
						include ../../common/licenziebi/detail/informaciaObiektisShesaxeb