include ../mixins/basic-controls
include ../mixins/grid-controls
include ../mixins/form-controls
include ./common/mixins
extends ../index
block content
	script(src='/javascripts/client/controllers/operatori/geoPaketi/axaliMyariCtrl.js')
	div
		.jumbotron.jumbotron-ultra-sm
			.container
				.row
					.col-sm-12.col-lg-12
						h2.txt-capital ახალი გეოსაინფორმაციო პაკეტი (წყალი)
	div.container(ng-controller="axaliMyariCtrl",ng-submit="submit()")
		form.form-horizontal
			div.col-md-12
				+panel('1 ძირითადი ინფორმაცია',4)
					div.col-md-12
						+textbox([6,6],'geoPaketi._0','განაცხადის ID','',true)
						+textbox([6,6],'geoPaketi._1_1','1.1 წიაღსარგებლობის ობიექტი','',true)
				+panel('2 წიაღითსარგებლობის ობიექტის (წყაროს, ჭის, ჭაბურღილის) მდებარეობა',4)
					div.col-md-12
						+typeahead([6,6],'geoPaketi._2_1',regionebi,'2.1 რეგიონი',true)
						+typeahead([6,6],'geoPaketi._2_2',municipalitetebi,'2.2 მუნიციპალიტეტი',true)
						+textbox([6,6],'geoPaketi._2_3','2.3 უახლოესი დასახლებული პუნქტი','',true)
						+textbox([6,6],'geoPaketi._2_4','2.4 დაშორება მნიშვნელოვანი პუნქტიდან','',true)
						+textbox([6,6],'geoPaketi._2_5','2.5 მანძილი სახელმწიფო საზღვრიდან','',true)
						+textbox([6,6],'geoPaketi._2_6','2.6 მდინარის აუზი (ან მთათა სისტემა)','',true)
						+panel('2.7 წიაღსარგებლობის ობიექტის კოორდინატები')
							div.col-md-12
								div.col-md-6
									+fileUpload([4,6],'_2_7','image/*',true,'ფოტოები',false)
									+textbox([4,6],'geoPaketi._2_7.texti','ტექსტი','',true)
								div.col-md-6
									+koordinatebisGridi()
						+textbox([6,6],'geoPaketi._2_8','2.8 ობიექტის (წყაროს, ჭის, ჭაბურღილის) აბსოლუტური სიმაღლე ზღვის დონიდან','',true)
						+bigtext('geoPaketi._2_9','2.9 კლიმატური პირობები',6,5,true)
						span= ' '
						hr
						+fileUpload([6,6],'_2_10','*',true,'2.10 შეიპ ფაილები',false)
				+panel('3 ხელისშემშლელი ინფრასტრუქტურული ობიექტები და სხვა ფაქტორები',4)
					div.col-md-12
						+textbox([6,6],'geoPaketi._3_1','3.1 მანძილი უახლოესი საავტომობილო გზის ღერძიდან','',true)
						+textbox([6,6],'geoPaketi._3_2','3.2 მანძილი სხვა უახლოესი ინფრასტრუქტურული ობიექტებიდან','',true)
						+textbox([6,6],'geoPaketi._3_3','3.3 დამატებითი მონაცემები','',true)
				+panel('4 სატყეო რესურსები',4)
					div.col-md-12
						+combobox([6,6],'geoPaketi._4_1',['ფიქსირდება','არ ფიქსირდება'],'4.1 სახელმწიფო ტყის ფონდის დაცული ტერიტორიების კატეგორიაში',true)
						+textbox([6,6],'geoPaketi._4_2','4.2 ეროვნული სატყეო სააგენტოს რეგიონალური სამსახური','',true)
						+textbox([6,6],'geoPaketi._4_3','4.3 განსაკუთრებული ფუნქციური დანიშნულების უბანი','',true)
						+combobox([6,6],'geoPaketi._4_4',['ფიქსირდება','არ ფიქსირდება'],'4.4 სახელმწიფო დაცვითი ტყის ზოლი',true)
						+textbox([6,6],'geoPaketi._4_5','4.5 ტყის უბანი სადაც გაბატონებულია „წითელი ნუსხით“ დაცული მერქნიანი მცენარეები','',true)
						+combobox([6,6],'geoPaketi._4_6',['აღემატება','არ აღემატება'],'4.6 20 გრადუსზე მეტი დაქანების ფერდობი',true)
						+textbox([6,6],'geoPaketi._4_7','4.7 სახელმწიფო ტყის ფონდის ტერიტორია, სადაც 1 ჰა-ზე არსებული მერქნული რესურსის მარაგი აღემატება 50 მ³-ს','',true)
						+textbox([6,6],'geoPaketi._4_8','4.8 სატყეო უბანი (ყოფილი სატყეო) სარეინჯეროს #','',true)
						+textbox([6,6],'geoPaketi._4_9','4.9 კვარტალ(ებ)ი #','',true)
						+textbox([6,6],'geoPaketi._4_10','4.10 ლიტერ(ებ)ი #','',true)
						+textbox([6,6],'geoPaketi._4_11','4.11 ლიტერის ან ლიტერების საერთო ფართ(ებ)ი','',true)
						+textbox([6,6],'geoPaketi._4_12','4.12 ტყით დაფარული ფართობი','',true)
						+textbox([6,6],'geoPaketi._4_13','4.13 ტყით დაუფარავი ფართობი','',true)
						+textbox([6,6],'geoPaketi._4_14','4.14 გაბატონებული ჯიშები','',true)
						+textbox([6,6],'geoPaketi._4_15','4.15 ზეზემდგომი ხე-ტყის მოცულობა და სახეები სანიმუშო ფართობზე','',true)
						+textArea([6,6],'geoPaketi._4_16','4.16 სახელმწიფო ტყის ფონდის ტერიტორია, სადაც გაცემულია ხე-ტყის დამზადების ან სამონადირეო მეურნეობის სპეციიალური ლიცენზია ან ტყითსარგებლობის გენერალური ლიცენზია',6,5,true)
						+textbox([6,6],'geoPaketi._4_17','4.17 სატყეო რესურსების დამატებითი მონაცემები','',true)
				+panel('5 წიაღითსარგებლობის ობიექტის გეოლოგიური პოზიცია',4)
					div.col-md-12
						+textArea([6,6],'geoPaketi._5_1','5.1 წიაღითსარგებლობის ობიექტის (წყაროს,ჭის,ჭაბურღილის) ჰიდროგეოლოგიური პოზიცია საქართელოს ტერიტორიის ჰიდროგეოლოგიური დარაიონების მიხედვით',6,5,true)
						+textbox([6,6],'geoPaketi._5_2','5.2 წყალშემცველი ჰორიზონტი','',true)
						+textArea([6,6],'geoPaketi._5_3','5.3 ცალკეული ობიექტის (წყაროს,ჭის,ჭაბურღილის) მონაცემები (სიღრმე, კაპტაჟი)',6,5,true)
				+panel('6 მიწისქვეშა წყლების ხარისხობრივი დახასიათება',4)
					div.col-md-12
						+bigtext('geoPaketi._6_1','6.1 ქიმიური შედგენილობა',6,5,true)
						hr
						+textbox([6,6],'geoPaketi._6_2','6.2 სანიტარული მდგომარეობა','',true)
						hr
						+bigtext('geoPaketi._6_3','6.3 ტემპერატურა',6,5,true)
						+bigtext('geoPaketi._6_4','6.4 წიაღითსარგებლობის ობიექტის დაძიების ხარისხი (სტადია)',6,5,true)
						+bigtext('geoPaketi._6_5','6.5 წიაღითსარგებლობის ობიექტის შესწავლის ხარისხი',6,5,true)
						hr
						+textbox([6,6],'geoPaketi._6_6','6.6 მიწისქვეშა წყლების გამოყენების სფერო (ფაქტიური და შესაძლო)','',true)
						+textbox([6,6],'geoPaketi._6_7','6.7 სალიცენზიო პირობები წიაღით (წყალი) სარგებლობისთვის','',true)
						+textArea([6,6],'geoPaketi._6_8','6.8 დამატებითი მონაცემები',4,4,true)
				+panel('7 წიაღითსარგებლობის ობიექტის საინჟინრო-გეოლოგიური პირობების ვიზუალური შეფასება',4)
					div.col-md-12
						hr
						+bigtext('geoPaketi._7_1','7.1 წიაღითსარგებლობის ობიექტის მორფოლოგია',6,5,true)
						hr
						+textArea([6,6],'geoPaketi._7_2','7.2 წიაღითსარგებლობის ობიექტის და მიმდებარე ტერიტორიის საინჟინრო-გეოლოგიური პირობების სირთულის კატეგორია',4,4,true)
						span .
						hr
						+textArea([6,6],'geoPaketi._7_3','7.3 წიაღითსარგებლობის ობიექტის და მიმდებარე ტერიტორიის გეოდინამიკური სიტუაცია',4,4,true)
						span .
						hr
						+textArea([6,6],'geoPaketi._7_4','7.4 წიაღითსარგებლობის ობიექტის ექსპლუატაციის პერიოდში მოსალოდნელი გართულებები',4,4,true)
						span .
						hr
						+textArea([6,6],'geoPaketi._7_5','7.5 გეოდინამიკური და გეოეკოლოგიური გართულებების შემთხვევაში გამაჯანსაღებელი ღონისძიებების დასახვა',4,4,true)
						hr
						+bigtext('geoPaketi._7_6','7.6 დასკვნები და რეკომენდაციები',6,5,true)
				+panel('8 გეოლოგიური ინფორმაციის მომზადებისას გამოყენებული ფონდური და ბეჭდვური მასალა',4)
					div.col-md-12
						+textbox([6,6],'geoPaketi._8_1','8.1 გეოლოგიური ანგარიშის (ან წიგნის) ავტორი (ავტორები)','',true)
						+textbox([6,6],'geoPaketi._8_2','8.2 ანგარიშის შედგენის (გამოცემის) ადგილი (გამომცემლობა) და წელი','',true)
						+textbox([6,6],'geoPaketi._8_3','8.3 ანგარიშის ფონდური (საბიბლიოთეკო) ინვენტარული #','',true)
					div.col-md-12
			div.col-md-12
				button.btn.btn-success.pull-right.txt-capital(type='submit',name='submit') დამტკიცება
			div.col-md-12
			span ' '
			hr