include ../mixins/basic-controls
include ../mixins/grid-controls
include ../mixins/form-controls
extends ../index
block content
		script(src='/javascripts/client/controllers/operatori/geoPaketi/axaliMyariCtrl.js')
		div
				.jumbotron.jumbotron-ultra-sm
						.container
								.row
										.col-sm-12.col-lg-12
												h2.txt-capital ახალი გეოსაინფორმაციო პაკეტი (მყარი)
		div.container(ng-controller="axaliMyariCtrl")
				form.form-horizontal
					div.col-md-12
						+panel('1 ძირითადი ინფორმაცია',4)
								div.col-md-12
									+textbox([6,6],'geoPaketi._1_0','განაცხადის ID','',true)
									+textbox([6,6],'geoPaketi._1_1','1.1 წიაღსარგებლობის ობიექტი','',true)
									+textbox([6,6],'geoPaketi._1_2','1.2 გენეტური ტიპი','',true)
									+textbox([6,6],'geoPaketi._1_3','1.3 სასარგებლო წიაღისეულის სამრეწველო ტიპი','',true)
						+panel('4 წიაღსარგებლობის მდებარეობა და ტერიტორიის ზოგადი აღწერა',4)
								div.col-md-12
									+typeahead([6,6],'geoPaketi._4_1',regionebi,'4.1 რეგიონი',true)
									+typeahead([6,6],'geoPaketi._4_2',municipalitetebi,'4.2 მუნიციპალიტეტი',true)
									+textbox([6,6],'geoPaketi._4_3','4.3 უახლოესი დასახლებული პუნქტი','',true)
									+textbox([6,6],'geoPaketi._4_4','4.4 დაშორება მნიშვნელოვანი პუნქტიდან','',true)
									+textbox([6,6],'geoPaketi._4_5','4.5 მანძილი სახელმწიფო საზღვრიდან','',true)
									+bigtext('geoPaketi._4_6','4.6 მდინარის აუზი (ან მთათა სისტემა)',6,5,true)
									hr
									+panel('4.7 წიაღსარგებლობის ობიექტის კოორდინატები')
										div.col-md-12
											div.col-md-6
												+fileUpload([4,6],'_4_7/foto','image/*',true,'ფოტოები',false)
												+textbox([4,6],'geoPaketi._4_7.texti','ტექსტი','',true)
											div.col-md-6
												+koordinatebisGridi()
									+textbox([6,6],'geoPaketi._4_8','4.8 ობიექტის აბსოლუტური სიმაღლე ზღვის დონიდან','',true)
									+bigtext('geoPaketi._4_9','4.9 კლიმატური პირობები',6,5,true)
						+panel('5 ხელისშემშლელი ინფრასტრუქტურული ობიექტები და სხვა ფაქტორები',4)
							div.col-md-12
								+textbox([6,6],'geoPaketi._5_1','5.1 მანძილი უახლოესი საავტომობილო გზის ღერძიდან','',true)
								+textbox([6,6],'geoPaketi._5_2','5.2 მანძილი უახლოესი ხიდიდან','',true)
								+textbox([6,6],'geoPaketi._5_3','5.3 მანძილი სხვა უახლოესი ინფრასტრუქტურული ობიექტებიდან','',true)
								+bigtext('geoPaketi._5_4','5.4 დამატებითი მონაცემები',6,5,true)
						+panel('6 სატყეო რესურსები',4)
							div.col-md-12
								+combobox([6,6],'geoPaketi._6_1',['ფიქსირდება','არ ფიქსირდება'],'6.1 სახელმწიფო ტყის ფონდის დაცული ტერიტორიების კატეგორიაში',true)
								+textbox([6,6],'geoPaketi._6_2','6.2 ეროვნული სატყეო სააგენტოს რეგიონალური სატყეო სამსახური','',true)
								+textbox([6,6],'geoPaketi._6_3','6.3 განსაკუთრებული ფუნქციური დანიშნულების უბანი','',true)
								+combobox([6,6],'geoPaketi._6_4',['ფიქსირდება','არ ფიქსირდება'],'6.4 სახელმწიფო დაცვითი ტყის ზოლი',true)
								+textbox([6,6],'geoPaketi._6_5','6.5 ტყის უბანი სადაც გაბატონებულია „წითელი ნუსხით“ დაცული მერქნიანი მცენარეები','',true)
								+combobox([6,6],'geoPaketi._6_6',['აღემატება','არ აღემატება'],'6.6 20 გრადუსზე მეტი დაქანების ფერდობი',true)
								+textbox([6,6],'geoPaketi._6_7','6.7 სახელმწიფო ტყის ფონდის ტერიტორია, სადაც 1 ჰა-ზე არსებული მერქნული რესურსის მარაგი აღემატება 50 მ³-ს','',true)
								+textbox([6,6],'geoPaketi._6_8','6.8 სატყეო უბანი (ყოფილი სატყეო) სარეინჯეროს #','',true)
								+textbox([6,6],'geoPaketi._6_9','6.9 კვარტალ(ებ)ი #','',true)
								+textbox([6,6],'geoPaketi._6_10','6.10 ლიტერ(ებ)ი #','',true)
								+textbox([6,6],'geoPaketi._6_11','6.11 ლიტერის ან ლიტერების საერთო ფართ(ებ)ი','',true)
								+textbox([6,6],'geoPaketi._6_12','6.12 ტყით დაფარული ფართობი','',true)
								+textbox([6,6],'geoPaketi._6_13','6.13 ტყით დაუფარავი ფართობი','',true)
								+textbox([6,6],'geoPaketi._6_14','6.14 გაბატონებული ჯიშები','',true)
								+textbox([6,6],'geoPaketi._6_15','6.15 ზეზემდგომი ხე-ტყის მოცულობა და სახეები სანიმუშო ფართობზე','',true)
								+textArea([6,6],'geoPaketi._6_16','6.16 სახელმწიფო ტყის ფონდის ტერიტორია, სადაც გაცემულია ხე-ტყის დამზადების ან სამონადირეო მეურნეობის სპეციიალური ლიცენზია ან ტყითსარგებლობის გენერალური ლიცენზია',6,5,true)
								+textbox([6,6],'geoPaketi._6_17','6.17 სატყეო რესურსების დამატებითი მონაცემები','',true)
						+panel('7 რაიონის გეოლოგიური პოზიცია',4)
							div.col-md-12
								+textbox([6,6],'geoPaketi._7_1','7.1 ტექტონიკური დარაიონება','',true)
								+textbox([6,6],'geoPaketi._7_2','7.2 მეტალოგენიური პოზიცია','',true)
								+textbox([6,6],'geoPaketi._7_3','7.3 გეოლოგიური აგებულება','',true)
						+panel('8 ობიექტის გეოლოგიური პოზიცია',4)
							div.col-md-12
								+textbox([6,6],'geoPaketi._8_1','8.1 გეოლოგიური აგებულება','',true)
								+textbox([6,6],'geoPaketi._8_2','8.2 მადნიანი სხეულის მორფოლოგიური ტიპი','',true)
								+textbox([6,6],'geoPaketi._8_3','8.3 მადნიანი სხეულის (სხეულების) გავრცელება (მიმართებით და დაქანებით)','',true)
								+textbox([6,6],'geoPaketi._8_4','8.4 მადნიანი სხეულის (სხეულების) სიმძლავრე','',true)
								+bigtext('geoPaketi._8_5','8.5 მადნიანი სხეულის (სხეულების) წოლის ელემენტი',6,5,true)
								+textbox([6,6],'geoPaketi._8_6','8.6 დამატებითი მონაცემები','',true)
						+panel('9 ობიექტის შესწავლის ხარისხი და სასარგებლო წიაღისეულის გეოლოგიურ-ტექნოლოგიური დახასიათება')
							div.col-md-12
								+bigtext('geoPaketi._9_1','9.1 საძიებო ქსელი ძებნა-ძიების სტადიურობის ჩვენებით',6,5,true)
								+bigtext('geoPaketi._9_2','9.2 საძიებო სამუშაოები',6,5,true)
								hr
								+textbox([6,6],'geoPaketi._9_3','9.3 დასინჯვა','',true)
								hr
								+bigtext('geoPaketi._9_4','9.4 ლაბორატორიული და ტექნოლოგიური კვლევის შედეგები',6,5,true)
								+textbox([6,6],'geoPaketi._9_5','9.5 ჰიგიენურ-რადიაციული კვლევა და შედეგები','',true)
								+textbox([6,6],'geoPaketi._9_6','9.6 სასარგებლო წიაღისეულის გამოყენების სფერო','',true)
								+textbox([6,6],'geoPaketi._9_7','9.7 დამატებითი მონაცემები','',true)
						+panel('10 სასარგებლო წიაღისეულის მარაგები')
							div.col-md-12
								+textArea([6,6],'geoPaketi._10_1','10.1 ობიექტის დაძიების ხარისხი (სტადია)',6,5,true)
								+bigtext('geoPaketi._10_2','10.2 ობიექტის ფართობი, მარაგების ანგარიშის კონტურში',6,5,true)
								+bigtext('geoPaketi._10_3','10.3 მადნიანი სხეულის ძირითადი პარამეტრები',6,5,true)
								+bigtext('geoPaketi._10_4','10.4 მარაგების გამოთვლოს მეთოდი',6,5,true)
								+panel('10.5 წიაღისეულის რაოდენობრივი მაჩვენებლები მარაგების და პროგნოზული რესურსები კატეგორიების მიხედვით',5)
									div.col-md-6
										+textbox([6,6],'geoPaketi._10_5.A','A','',true)
										+textbox([6,6],'geoPaketi._10_5.B','B','',true)
										+textbox([6,6],'geoPaketi._10_5.C1','C1','',true)
									div.col-md-6
										+textbox([6,6],'geoPaketi._10_5.C2','C2','',true)
										+textbox([6,6],'geoPaketi._10_5.P','P','',true)
								+bigtext('geoPaketi._10_6','10.6 თანმდევი სასარგებლო წიაღისეული და მისი კომპონენტების მარაგები',6,5,true)
								+textbox([6,6],'geoPaketi._10_7','10.7 მარაგების გაზრდის ძირითადი მიმართულებები','',true)
								+textbox([6,6],'geoPaketi._10_8','10.8 დამატებითი მონაცემები','',true)
						+panel('11 წიაღითსარგებლობის ობიექტის დამუშავების პირობები',4)
							div.col-md-12
								+textbox([6,6],'geoPaketi._11_1','11.1 წიაღითსარგებლობის ობიექტის დამუშავების ჰიდროგეოლოგიური და სამთო ტექნიკური პირობები','',true)
								+textbox([6,6],'geoPaketi._11_2','11.2 წიაღითსარგებლობის ობიექტის დამუშავების მეთოდი','',true)
								+textbox([6,6],'geoPaketi._11_3','11.3 ინფორმაცია ობიექტის ტოპოგრაფიის შესახებ','',true)
						+panel('12 წიაღითსარგებლობის ობიექტის საინჟინრო-გეოლოგიური პირობების ვიზუალური შეფასება',4)
							div.col-md-12
								+bigtext('geoPaketi._12_1','12.1 წიაღითსარგებლობის ობიექტის მორფოლოგია',6,5,true)
								+bigtext('geoPaketi._12_2','12.2 წიაღითსარგებლობის ობიექტის და მიმდებარე ტერიტორიის საინჟინრო-გეოლოგიური პირობების სირთულის კატეგორია',6,5,true)
								+textArea([6,6],'geoPaketi._12_3','12.3 წიაღითსარგებლობის ობიექტის და მიმდებარე ტერიტორიის გეოდინამიკური სიტუაცია (მდინარეული ქვიშა-ხრეშის შემთხვევაში ნაპირების ეროზია; კალაპოტში წარმოქმნილი ჭარბი აკუმულაცია და სხვა. )',6,5,true)
								+textArea([6,6],'geoPaketi._12_4','12.4 წიაღითსარგებლობის ობიექტის ექსპლუატაციის პროცესში, მოსალოდნელი გეოდინამიკური გართულებები',6,5,true)
								+textArea([6,6],'geoPaketi._12_5','12.5 გეოდინამიკური გართულებების შემთხვევაში გამაჯანსაღებელი ღონისძიებების დასახვა',6,5,true)
								+bigtext('geoPaketi._12_6','12.6 დასკვნები და რეკომენდაციები',6,5,true)
						+panel('13 გეოლოგიური ინფორმაციის მომზადებისას გამოყენებული ფონდური და ბეჭდვური მასალა',4)
							div.col-md-12
								+textbox([6,6],'geoPaketi._13_1','13.1 გეოლოგიური ანგარიშის (ან წიგნის) ავტორი (ავტორები)','',true)
								+textbox([6,6],'geoPaketi._13_2','13.2 ანგარიშის შედგენის (გამოცემის) ადგილი (გამომცემლობა) და წელი','',true)
								+textbox([6,6],'geoPaketi._13_3','13.3 ანგარიშის ფონდური (საბიბლიოთეკო) ინვენტარული #','',true)
					div.col-md-12
						button.btn.btn-success.pull-right.txt-capital(type='submit',name='submit') დამტკიცება
					div.col-md-12
					span ' '
					hr