include ../mixins/basic-controls
include ../mixins/grid-controls
include ../mixins/form-controls
include ./common/mixins
extends ../index
block content
	script(src='/javascripts/client/controllers/operatori/geoPaketi/axaliMyariCtrl.js')
	div
		.jumbotron.jumbotron-ultra-sm
			.container
				.row
					.col-sm-12.col-lg-12
						h2.txt-capital ახალი გეოსაინფორმაციო პაკეტი (მყარი)
	div.container(ng-controller="axaliMyariCtrl")
		form.form-horizontal
			div.col-md-12
				+panel('',4)
					+textbox([4, 4],'geoPaketi.ganacxadisID','განაცხადის ID','',true)
					+bigtext('geoPaketi._1_0','1 წიაღითსარგებლობის ობიექტი')
					+bigtext('geoPaketi._2_0','2 გენეტური ტიპი')
					+bigtext('geoPaketi._3_0','3 სასარგებლო წიაღისეულის სამრეწველო ტიპი')
				+panel('4 წიაღითსარგებლობის ობიექტის მდებარეობა და ტერიტორიის ზოგადი აღწერა',4)
					+typeahead([6, 6],'geoPaketi._4_1',regionebi,'4.1 რეგიონი')
					+typeahead([6, 6],'geoPaketi._4_2',municipalitetebi,'4.2 მუნიციპალიტეტი')
					+bigtext('geoPaketi._4_3','4.3 უახლოესი დასახლებული პუნქტი')
					+bigtext('geoPaketi._4_4','4.4 დაშორება მნიშვნელოვანი პუნქტიდან')
					+bigtext('geoPaketi._4_5','4.5 მანძილი სახელმწიფო საზღვრიდან / ზღვის სანაპირო ზოლიდან')
					+bigtext('geoPaketi._4_6','4.6 მდინარის აუზი (ან მთათა სისტემა)')
					hr
					+panel('4.7 წიაღითსარგებლობის ობიექტის კოორდინატები')
						div.col-md-6
							+fileUpload([4, 8],'geoPaketi._4_7/fotoebi','image/*',true,'ფოტოები',false)
							+fileUpload([4, 8],'geoPaketi._4_7/shapeFailebi','*',true,'შეიპ ფაილები',false)
						div.col-md-6
							+koordinatebisGridi()
						div.col-md-12
							+bigtext('geoPaketi._4_7.texti','ტექსტი')
					+bigtext('geoPaketi._4_8','4.8 ობიექტის აბსოლუტური სიმაღლე ზღვის დონიდან')
					+bigtext('geoPaketi._4_9','4.9 კლიმატური პირობები')
				+panel('5 ხელისშემშლელი ინფრასტრუქტურული ობიექტები და სხვა ფაქტორები',4)
					+bigtext('geoPaketi._5_1','5.1 მანძილი უახლოესი საავტომობილო გზის ღერძიდან')
					+bigtext('geoPaketi._5_2','5.2 მანძილი უახლოესი ხიდიდან')
					+bigtext('geoPaketi._5_3','5.3 მანძილი სხვა უახლოესი ინფრასტრუქტურული ობიექტებიდან')
					+bigtext('geoPaketi._5_4','5.4 დამატებითი მონაცემები')
				+panel('6 სატყეო რესურსები',4)
					+combobox([6, 6],'geoPaketi._6_1',['ფიქსირდება', 'არ ფიქსირდება'],'6.1 სახელმწიფო ტყის ფონდის დაცული ტერიტორიების კატეგორიაში')
					+textbox([6, 6],'geoPaketi._6_2','6.2 ეროვნული სატყეო სააგენტოს რეგიონალური სატყეო სამსახური')
					+textbox([6, 6],'geoPaketi._6_3','6.3 განსაკუთრებული ფუნქციური დანიშნულების უბანი')
					+combobox([6, 6],'geoPaketi._6_4',['ფიქსირდება', 'არ ფიქსირდება'],'6.4 სახელმწიფო დაცვითი ტყის ზოლი')
					+textbox([6, 6],'geoPaketi._6_5','6.5 ტყის უბანი, სადაც გაბატონებულია „წითელი ნუსხით“ დაცული მერქნიანი მცენარეები')
					+combobox([6, 6],'geoPaketi._6_6',['აღემატება', 'არ აღემატება'],'6.6 20 გრადუსზე მეტი დაქანების ფერდობი')
					+textbox([6, 6],'geoPaketi._6_7','6.7 სახელმწიფო ტყის ფონდის ტერიტორია, სადაც 1 ჰა-ზე არსებული მერქნული რესურსის მარაგი აღემატება 50 მ³-ს')
					+textbox([6, 6],'geoPaketi._6_8','6.8 სატყეო უბანი (ყოფილი სატყეო) სარეინჯეროს #')
					+textbox([6, 6],'geoPaketi._6_9','6.9 კვარტალ(ებ)ი #')
					+textbox([6, 6],'geoPaketi._6_10','6.10 ლიტერ(ებ)ი #')
					+textbox([6, 6],'geoPaketi._6_11','6.11 ლიტერის ან ლიტერების საერთო ფართ(ებ)ი')
					+textbox([6, 6],'geoPaketi._6_12','6.12 ტყით დაფარული ფართობი')
					+textbox([6, 6],'geoPaketi._6_13','6.13 ტყით დაუფარავი ფართობი')
					+textbox([6, 6],'geoPaketi._6_14','6.14 გაბატონებული ჯიშები')
					+textbox([6, 6],'geoPaketi._6_15','6.15 ზეზემდგომი ხე-ტყის მოცულობა და სახეები სანიმუშო ფართობზე')
					+textbox([6, 6],'geoPaketi._6_16','6.16 სახელმწიფო ტყის ფონდის ტერიტორია, სადაც გაცემულია ხე-ტყის დამზადების ან სამონადირეო მეურნეობის სპეციალური ლიცენზია ან ტყითსარგებლობის გენერალური ლიცენზია')
					+textbox([6, 6],'geoPaketi._6_17','6.17 სატყეო რესურსების დამატებითი მონაცემები')
				+panel('7 რაიონის გეოლოგიური პოზიცია',4)
					+textbox([6, 6],'geoPaketi._7_1','7.1 ტექტონიკური დარაიონება')
					+bigtext('geoPaketi._7_2','7.2 გეოლოგიური აგებულება')
				+panel('8 ობიექტის გეოლოგიური პოზიცია',4)
					+bigtext('geoPaketi._8_1','8.1 გეოლოგიური აგებულება')
					+bigtext('geoPaketi._8_2','8.2 მადნიანი სხეულის მორფოლოგიური ტიპი')
					+bigtext('geoPaketi._8_3','8.3 მადნიანი სხეულის (სხეულების) გავრცელება (მიმართებით და დაქანებით)')
					+bigtext('geoPaketi._8_4','8.4 მადნიანი სხეულის (სხეულების) სიმძლავრე')
					+bigtext('geoPaketi._8_5','8.5 მადნიანი სხეულის (სხეულების) წოლის ელემენტი')
					+bigtext('geoPaketi._8_6','8.6 დამატებითი მონაცემები')
				+panel('9 ობიექტის შესწავლის ხარისხი და სასარგებლო წიაღისეულის გეოლოგიურ-ტექნოლოგიური დახასიათება', 4)
					+bigtext('geoPaketi._9_1','9.1 საძიებო ქსელი ძებნა-ძიების სტადიურობის ჩვენებით')
					+bigtext('geoPaketi._9_2','9.2 საძიებო სამუშაოები')
					+bigtext('geoPaketi._9_3','9.3 დასინჯვა')
					+bigtext('geoPaketi._9_4','9.4 ლაბორატორიული და ტექნოლოგიური კვლევის შედეგები')
					+bigtext('geoPaketi._9_5','9.5 ჰიგიენურ-რადიაციული კვლევა და შედეგები')
					+bigtext('geoPaketi._9_6','9.6 სასარგებლო წიაღისეულის გამოყენების სფერო')
					+bigtext('geoPaketi._9_7','9.7 დამატებითი მონაცემები')
				+panel('10 სასარგებლო წიაღისეულის მარაგები', 4)
					+bigtext('geoPaketi._10_1','10.1 ობიექტის დაძიების ხარისხი (სტადია)')
					+bigtext('geoPaketi._10_2','10.2 ობიექტის ფართობი მარაგების ანგარიშის კონტურში')
					+bigtext('geoPaketi._10_3','10.3 მადნიანი სხეულის ძირითადი პარამეტრები')
					+bigtext('geoPaketi._10_4','10.4 მარაგების გამოთვლის მეთოდი')
					hr
					+panel('10.5 წიაღისეულის რაოდენობრივი მაჩვენებლები მარაგების და პროგნოზული რესურსების კატეგორიების მიხედვით (A+B+C<small>1</small>+C<small>2</small> და P)',5)
						+bigtext('geoPaketi._10_5.A','A')
						+bigtext('geoPaketi._10_5.B','B')
						+bigtext('geoPaketi._10_5.C1','C<small>1</small>')
						+bigtext('geoPaketi._10_5.C2','C<small>2</small>')
						+bigtext('geoPaketi._10_5.P','P')
					+bigtext('geoPaketi._10_6','10.6 თანმდევი სასარგებლო წიაღისეული და მისი კომპონენტების მარაგები')
					+bigtext('geoPaketi._10_7','10.7 მარაგების გაზრდის ძირითადი მიმართულებები')
					+bigtext('geoPaketi._10_8','10.8 დამატებითი მონაცემები')
				+panel('11 წიაღითსარგებლობის ობიექტის დამუშავების პირობები',4)
					+bigtext('geoPaketi._11_1','11.1 წიაღითსარგებლობის ობიექტის დამუშავების ჰიდროგეოლოგიური და სამთო-ტექნიკური პირობები')
					+bigtext('geoPaketi._11_2','11.2 წიაღითსარგებლობის ობიექტის დამუშავების მეთოდი')
					+bigtext('geoPaketi._11_3','11.3 ინფორმაცია ობიექტის ტოპოგრაფიის შესახებ')
				+panel('12 წიაღითსარგებლობის ობიექტის საინჟინრო-გეოლოგიური პირობების ვიზუალური შეფასება',4)
					+bigtext('geoPaketi._12_1','12.1 წიაღითსარგებლობის ობიექტის მორფოლოგია')
					+bigtext('geoPaketi._12_2','12.2 წიაღითსარგებლობის ობიექტის და მიმდებარე ტერიტორიის საინჟინრო-გეოლოგიური პირობების სირთულის კატეგორია')
					+bigtext('geoPaketi._12_3','12.3 წიაღითსარგებლობის ობიექტის და მიმდებარე ტერიტორიის გეოდინამიკური სიტუაცია (მდინარეული ქვიშა-ხრეშის შემთხვევაში ნაპირების ეროზია; კალაპოტში წარმოქმნილი ჭარბი აკუმულაცია და სხვა)')
					+bigtext('geoPaketi._12_4','12.4 წიაღითსარგებლობის ობიექტის ექსპლუატაციის პროცესში მოსალოდნელი გეოდინამიკური გართულებები')
					+bigtext('geoPaketi._12_5','12.5 გეოდინამიკური გართულებების შემთხვევაში გამაჯანსაღებელი ღონისძიებების დასახვა')
					+bigtext('geoPaketi._12_6','12.6 დასკვნები და რეკომენდაციები')
				+panel('13 გეოლოგიური ინფორმაციის მომზადებისას გამოყენებული ფონდური და ბეჭდვური მასალა',4)
					+bigtext('geoPaketi._13_1','13.1 გეოლოგიური ანგარიშის (ან წიგნის) ავტორი (ავტორები)')
					+bigtext('geoPaketi._13_2','13.2 ანგარიშის შედგენის (გამოცემის) ადგილი (გამომცემლობა) და წელი')
					+bigtext('geoPaketi._13_3','13.3 ანგარიშის ფონდური (საბიბლიოთეკო) ინვენტარული #')
			div.col-md-12
				button.btn.btn-success.pull-right.txt-capital(type='submit',name='submit') დამტკიცება
			div.col-md-12
			span ' '
			hr