extends ../index
block content
	div.container
		div.page-header
			h3(style='color:white;') აირჩიეთ პაკეტის ტიპი
		div.btn-group-justified(style='vertical-align: middle;')
			a.btn.btn-primary.btn-block.btn-lg(href='axali/myari') მყარი
			a.btn.btn-primary.btn-block.btn-lg(href='axali/ckali') წყალი