extends ../../index
block content
	div.jumbotron.jumbotron-ultra-sm
		div.container
			div.row
				div.col-sm-12.col-lg-12
					h2.txt-capital ლიცენზიები
	div.container
		div.row
			div.panel.panel-default
				div.panel-body
					form.form-inline(method='GET',action='/operatori/licenziebi')
						div.form-group.col-md-3
							input.form-control(type='text',placeholder='ნებისმიერი საკვანძო სიტყვა',
							name='searchText',value=searchText,id='searchTxtIpt',style='width:100%;')
						button.btn.btn-default.txt-capital(type='submit') ძებნა
				div.panel.panel-default.fit
					div.panel-heading.txt-capital ნაპოვნი ლიცენზიები
					div.panel-body
						include ../../common/licenziebi/sia/table
						hr
						include ../../common/licenziebi/sia/pagination