script.
	function ctrl($scope){
			$scope.atvisebisGegmaColumns = [];
			$scope.gegmaItems = [
					{celi:'',odenoba:0}
			];
			$scope.addAtvisebisGegmaColumn = function(){
					$scope.atvisebisGegmaColumns.push({});
			};
			$scope.addGegmaItem = function(){
					$scope.gegmaItems.push({celi:'',odenoba:0});
			};
			$scope.removeGegmaItem = function(gi){
					var i = $scope.gegmaItems.indexOf(gi);
					$scope.gegmaItems.splice(i,1);
			};
	}
+panel('ათვისების გეგმა')
	table.table.table-hover.table-bordered.table-condensed
		thead
			tr.txt-capital
				th წელი
				th ასათვისებელი რესურსის ოდენობა
				th(ng-repeat='agc in atvisebisGegmaColumns')
					+textcell('{{agc.name}}')
				th(width='3%')
					a.btn.btn-sm.btn-info(ng-click='addAtvisebisGegmaColumn()') ► +
		tbody
			tr(ng-repeat='gi in gegmaItems')
				td
					+textcell('celi')
				td
					+numbercell('odenoba')
				td(ng-repeat='agc in atvisebisGegmaColumns')
					+numbercell('{{agc.value}}')
				td
					a.btn.btn-sm.btn-danger.pull-right(ng-click='removeGegmaItem(gi)') X
			tr
				td(colspan='{{(atvisebisGegmaColumns.length + 2)}}')
				td
					a.btn.btn-sm.btn-success.pull-right(ng-click='addGegmaItem()') ▼ +