+panel('ლიცენზიის წარმოქმნის საფუძველი')
	tabset
		+tab('აუქციონი')
			+textbox('aukcionisNomeri','აუქციონის N','')
			+textbox('lotisNomeri','ლოტის N','')
			+textbox('ganacxadisNomeri','განაცხადის N','')
			+numberbox('sackisiFasi','საწყისი ფასი','')
			+numberbox('sabolooFasi','საბოლოო ფასი','')
		+tab('საბჭოს წესით გადაცემული')
			+datepicker('tarigi','თარიღი')
			+textbox('okmisNomeri','ოქმის N','')
		+tab('გაყოფა')
			+textbox('dzveliLicenziisNomeri','ძველი ლიცენზიის N')
		+tab('გადაცემა')
			+textbox('dzveliLicenziisNomeri','ძველი ლიცენზიის N')
		+tab('დუბლიკატი')
			+textbox('dzveliLicenziisNomeri','ძველი ლიცენზიის N')
		+tab('იჯარით გადაცემა')
			+textbox('moijarisPid','საიდენთიფიკაციო კოდი','ან მოიჯარის პირადი ნომერი')
			+textbox('dasaxeleba','დასახელება','ან მოიჯარის პირის სახელი, გვარი')
			+fileUpload('moijarisFailebi','*',true,'მიბმული ფაილები')
	+panel('ლიცენზიის გაუქმების საფუძველი')
		tabset
			+tab('პირადი განცხადება')
				+fileUpload('mibmuliFailebi','*',true,'მიბმული ფაილები')
			+tab('სააგენტოს გადაწყვეტილება')
				+fileUpload('mibmuliFailebi','*',true,'მიბმული ფაილები')
			+tab('გაყოფა')
				+textbox('axaliLicenziisNomeri','ახალი ლიცენზიის N','')
			+tab('გადაცემა')
				+textbox('axaliLicenziisNomeri','ახალი ლიცენზიის N','')
			+tab('დუბლიკატი')
				+textbox('axaliLicenziisNomeri','ახალი ლიცენზიის N','')